@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
  margin: 0;
  padding: 0;
  color: #2b2e51;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

p {
  color: grey;
}

/* NAVBAR */

nav {
  display: flex;
  background-color: rgb(245, 243, 243);
  height: 10vh;
  z-index: 1;
}

nav .left {
  display: flex;
  padding: 5px;
  padding-left: 80px;
  align-items: center;
}

nav .left a {
  font-weight: bold;
  color: #0a0a23;
  z-index: 1;
}

nav .left a:hover {
  color: #f04c34;
}

nav .left img {
  width: 49px;
  height: 33px;
}

nav .left ul {
  display: flex;
}

nav .left ul li {
  list-style: none;
}

nav .left ul li a {
  text-decoration: none;
  margin: 20px;
  color: black;
  font-size: 1rem;
}

nav .left button {
  position: absolute;
  right: 80px;
  border: none;
}

nav .left button a {
  text-decoration: none;
  background-color: #f04c34;
  color: white;
  padding: 8px 15px;
  border-radius: 8px;
  transition: all 0.3s;
}

nav .left button a:hover {
  background-color: white;
  color: #f04c34;
  font-weight: bold;
}

nav .right {
  display: flex;
  flex: 50%;
  padding: 10px;
  justify-content: end;
  align-items: center;
  padding-right: 80px;
}

nav .right .nav-hamburger {
  display: none;
  flex-direction: column;
  height: 20px;
  position: relative;
}

nav .right .nav-hamburger span {
  display: block;
  width: 30px;
  height: 5px;
  margin-bottom: 3px;
  background-color: #2b2e51;
  border-radius: 5px;
}

nav .right .nav-hamburger input {
  position: absolute;
  width: 55px;
  height: 28px;
  opacity: 0;
  left: -15px;
  top: -5px;
  cursor: pointer;
}

/* NAVBAR */

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.container .section {
  display: flex;
  width: 90%;
}

.container .section .left {
  flex: 1;
}

.container .section .right {
  flex: 2;
}

.container .section .right .skill {
  display: flex;
}

.container .section .right .skill img {
  width: 110px;
  height: 80px;
}

.container .section .right .skill .netlify {
  width: 80px;
  height: 80px;
}

.container .section .right .skill .git {
  width: 130px;
}

.container .section .right .skill h2 {
  color: #f33d21;
}

.container .section .right .icon a {
  text-decoration: none;
  color: #0a0a23;
  font-size: 25px;
  margin-right: 10px;
  transition: all 0.2s;
}

.container .section .right .icon a:hover {
  color: #f04c34;
}

/* Form Page */
form {
  font-weight: bold;
  width: 600px;
  margin: 40px auto;
  padding: 30px 20px;
  box-shadow: 0 2px 5px;
  border-radius: 10px;
}

form label {
  margin: 20px 0;
}

form input[type="text"],
form input[type="number"],
form input[type="email"],
form textarea,
form select {
  width: 100%;
  background-color: rgb(228, 226, 226);
  border: 1px solid rgb(228, 226, 226);
  font-size: 18px;
  height: 45px;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin: 10px 0;
  padding: 5px 10px;
  box-sizing: border-box;
}
form textarea {
  height: 100px;
}

form input:focus {
  background-color: transparent;
}

form .skill {
  margin-bottom: 20px;
}

form select:focus {
  background-color: white;
}

form textarea:focus {
  background-color: white;
  border: 2px solid #f04c34;
}

form button {
  background-color: #f04c34;
  border: 0;
  width: 40%;
  padding: 10px 0;
  border-radius: 10px;
  font-weight: bold;
  font-size: 18px;
  box-shadow: 0 2px 5px;
  cursor: pointer;
  color: white;
  transition: all 0.3s;
}

form button:hover {
  background-color: white;
  color: #f04c34;
  font-weight: bold;
}

/* email views */

.container-email {
  width: 70%;
  height: 600px;
  margin: auto;
  transition: all 0.5s;
}

.container-email.minimize {
  height: 100%;
  margin-bottom: 20px;
}

.container-email .card-email {
  width: 100%;
  height: 90%;
  border-radius: 10px 10px 0 0;
  box-shadow: 0px 10px 20px 15px rgba(0, 0, 0, 0.15);
  overflow: hidden;
}

.container-email .card-email .header-email {
  display: flex;
  background-color: #f04c34;
  padding: 13px;
  color: white;
}

.container-email .card-email .header-email span {
  flex: 1;
  font-weight: bold;
  color: white;
}

.container-email .card-email .header-email .icons-email {
  flex: 1;
  text-align: end;
}
.container-email .card-email .header-email .icons-email i {
  cursor: pointer;
  padding: 5px;
}
.container-email .card-email .body-email {
  height: 75%;
  padding: 5px 13px;
}

.container-email .card-email .body-email.minimize {
  display: none;
}

.container-email .card-email .body-email .to-send-email,
.container-email .card-email .body-email .subject-send-email {
  display: flex;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.container-email .card-email .body-email .to-send-email h5,
.container-email .card-email .body-email .subject-send-email h5 {
  margin-right: 10px;
}

.container-email .card-email .footer-email {
  padding: 20px 30px;
  box-shadow: 0px -10px 14px -8px rgb(0 0 0 / 8%);
}

.container-email .card-email .footer-email.minimize {
  display: none;
}

.container-email .card-email .footer-email button {
  background-color: #f04c34;
  color: white;
  padding: 10px 40px;
  border-radius: 8px;
  transition: all 0.3s;
  box-shadow: 0 2px 5px;
  border: 0;
  cursor: pointer;
}

.container-email .card-email .footer-email button:hover {
  background-color: white;
  color: #f04c34;
  font-weight: bold;
}

/* Responsive  */
@media screen and (max-width: 768px) {
  nav .left ul {
    position: absolute;
    background-color: rgb(245, 243, 243);
    display: flex;
    flex-direction: column;
    top: 0;
    width: 100%;
    height: 40vh;
    justify-content: center;
    right: 0;
    align-items: center;
    transform: translateX(100%);
    z-index: 0;
  }

  nav ul.slide {
    transform: translateX(0);
  }

  nav .left ul li {
    margin-bottom: 20px;
  }

  nav .right .nav-hamburger {
    display: flex;
  }

  .container .section {
    flex-direction: column;
    margin-top: 800px;
    align-items: center;
  }

  .container .section .left {
    margin-bottom: 25px;
  }

  .container .section .right .social-media {
    text-align: center;
  }

  .container .section .right .social-media .icon {
    justify-content: space-evenly;
  }
}
